<h1>Editing subject</h1>

<% form_for [:admin, @subject] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_subject_path(@subject) %> |
<%= link_to 'Back', admin_subjects_path %>