<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :address %><br />
  <%= f.text_field :address %>
</p>
<p>
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</p>
<p>
  <%= f.label :state %><br />
  <%= f.text_field :state %>
</p>
<p>
  <%= f.label :zip %><br />
  <%= f.text_field :zip %>
</p>
<p>
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :url %><br />
  <%= f.text_field :url %>
</p>
<p>
  <%= f.label :map_url %><br />
  <%= f.text_field :map_url %>
</p>
