<p class="course-nav-desc"><%= "#{@course.subject.name}" %></p>
<h1 class="course-header"><%= "#{@course.level.code} #{@course.name}" %></h1>

<div class="instructor-image-container">
 <%= image_tag("default.png", :size => "150x150") %>
 <p class="course-instructor">Alan Dayley</p>
</div>
<div class="course-overview-container">
  <%=h @course.overview %>
</div>
<div style="clear:both"><!-- hi --></div>


<div class="float-right">
  <span class="course-details">Details |</span> <span class="course-details">Prerequisites</span>
</div>
<div style="clear:both"><!-- hi --></div>

<div class="course-register">
  REGISTER NOW
</div>

<div class="course-cost-container">
  <div class="course-cost-label">Cost:</div><div class="course-cost"><%= render_cost(@course.cost_in_cents) %></div>
  <div class="course-cost-label">Early Bird:</div><div class="course-cost"><%= render_cost(@course.early_bird_cost_in_cents) %></div>
  <div class="course-cost-label" style="width: 127px;">Early Reg Ends:</div><div class="course-cost"> <%=h @course.early_bird_date.strftime('%B %d, %Y') %></div>
</div>

<div class="course-dates-container">
  <p class="course-dates-label"><span class="bold">Dates:</span> 12/05/2010 - 12/05/2010</p>
  <p class="course-dates-label"><span class="bold">Days:</span> M, Tu, W, Th</p>
  <p class="course-dates-label"><span class="bold">Time:</span> 07:00pm - 10:00pm</p>
</div>
<div style="clear:both"><!-- hi --></div>

<div style="float:left; width: 150px; margin-top: 10px;">
  <p>Location</p>
  <p><%=h @course.location_id %></p>
  <p>21469 East Lords Way</p>
  <p>Queen Creek, AZ 85225</p>
</div>
<div style="margin-left: 160px; margin-top: 10px;">
  <iframe width="425" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=21469+East+Lords+Way,+Queen+Creek,+AZ&amp;sll=37.0625,-95.677068&amp;sspn=34.861942,93.076172&amp;ie=UTF8&amp;hq=&amp;hnear=21469+E+Lords+Way,+Queen+Creek,+Maricopa,+Arizona+85142&amp;z=14&amp;ll=33.262119,-111.62047&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=21469+East+Lords+Way,+Queen+Creek,+AZ&amp;sll=37.0625,-95.677068&amp;sspn=34.861942,93.076172&amp;ie=UTF8&amp;hq=&amp;hnear=21469+E+Lords+Way,+Queen+Creek,+Maricopa,+Arizona+85142&amp;z=14&amp;ll=33.262119,-111.62047" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
<div style="clear:both"><!-- hi --></div>


<p>
  <b>Prerequisites:</b>
  <%=h @course.prerequisites %>
</p>

<p>
  <b>Details:</b>
  <%=h @course.details %>
</p>


<p>
  <b>Location:</b>
  
</p>

