<p class="course-nav-desc"><%= "#{@course.subject.name}" %></p>
<h1 class="course-header"><%= "#{@course.subject.code} #{@course.level.code} #{@course.name}" %></h1>

<div class="instructor-image-container">
 <%= image_tag("default.png", :size => "150x150") %>
 <p class="course-instructor">Alan Dayley</p>
</div>
<div class="course-overview-container">
  <%=h @course.overview %>
</div>
<div style="clear:both"><!-- hi --></div>


<div class="float-right">
  <span class="course-details"><a href="#details">Details</a> |</span> <span class="course-details"><a href="#prereq">Prerequisites</a></span>
</div>
<div style="clear:both"><!-- hi --></div>

<div class="course-register">
  REGISTER NOW
</div>

<div class="course-cost-container">
  <div class="course-cost-label">Cost:</div><div class="course-cost"><%= render_cost(@course.cost_in_cents) %></div>
  <div class="course-cost-label">Early Bird:</div><div class="course-cost"><%= render_cost(@course.early_bird_cost_in_cents) %></div>
  <div class="course-cost-label" style="width: 127px;">Early Reg Ends:</div><div class="course-cost"> <%=h @course.early_bird_date.strftime('%B %d, %Y') %></div>
</div>

<div class="course-dates-container">
  <p class="course-dates-label"><span class="bold">Dates:</span> 12/05/2010 - 12/05/2010</p>
  <p class="course-dates-label"><span class="bold">Days:</span> M, Tu, W, Th</p>
  <p class="course-dates-label"><span class="bold">Time:</span> 07:00pm - 10:00pm</p>
</div>
<div style="clear:both"><!-- hi --></div>

<div class="location-container">
  <p class="course-location">Location</p>
  <p class="course-location-detail"><%=h @course.location.name unless @course.location.nil? %></p>
  <p class="course-location-detail"><%=h @course.location.address unless @course.location.nil? %></p>
  <p class="course-location-detail"><%=h "#{@course.location.city}, #{@course.location.state} #{@course.location.zip}" unless @course.location.nil? %></p>
  <p class="course-location-detail"><%= link_to("Venue Website", @course.location.url) unless @course.location.nil? %></p>
</div>
<div class="map-container">
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=250+S+Arizona+Ave,+Chandler,+AZ+85225&amp;sll=37.0625,-95.677068&amp;sspn=34.724817,93.076172&amp;ie=UTF8&amp;hq=&amp;hnear=250+S+Arizona+Ave,+Chandler,+Maricopa,+Arizona+85225&amp;ll=33.299745,-111.841903&amp;spn=0.009469,0.022724&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=250+S+Arizona+Ave,+Chandler,+AZ+85225&amp;sll=37.0625,-95.677068&amp;sspn=34.724817,93.076172&amp;ie=UTF8&amp;hq=&amp;hnear=250+S+Arizona+Ave,+Chandler,+Maricopa,+Arizona+85225&amp;ll=33.299745,-111.841903&amp;spn=0.009469,0.022724&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
<div style="clear:both"><!-- hi --></div>


<p id="details" class="course-label">Details</p>
<p class="course-content"><%= @course.details %></p>

<p id="prereq" class="course-label">Prerequisites</p>
<p class="course-content"><%= @course.prerequisites %></p>


