<p>
  <%= f.label :level_id %><br />
  <%= f.select :level_id, options_from_collection_for_select(Level.find(:all, :order => "parent_code, code"), 'id', 'code', @course.level_id) %>
</p>
<p>
  <%= f.label :subject_id %><br />
  <%= f.select :subject_id, options_from_collection_for_select(Subject.find(:all, :order => "name"), 'id', 'code_name', @course.subject_id) %>
</p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :prerequisites %><br />
  <%= f.text_area :prerequisites %>
</p>
<p>
  <%= f.label :max_size %><br />
  <%= f.text_field :max_size %>
</p>
<p>
  <%= f.label :min_size %><br />
  <%= f.text_field :min_size %>
</p>
<p>
  <%= f.label :overview %><br />
  <%= f.text_area :overview %>
</p>
<p>
  <%= f.label :details %><br />
  <%= f.text_area :details %>
</p>
<p>
  <%= f.label :location_id %><br />
  <%= f.select :location_id, options_from_collection_for_select(Location.find(:all, :order => "name"), 'id', 'name', @course.location_id) %>
</p>
<p>
  <%= f.label :delivery_type_id %><br />
  <%= f.text_field :delivery_type_id %>
</p>
<p>
  <%= f.label :cost_in_cents %><br />
  <%= f.text_field :cost_in_cents %>
</p>
<p>
  <%= f.label :early_bird_cost_in_cents %><br />
  <%= f.text_field :early_bird_cost_in_cents %>
</p>
<p>
  <%= f.label :early_bird_date %><br />
  <%= f.datetime_select :early_bird_date %>
</p>