<h1>Listing courses</h1>

<table>
  <tr>
    <th>Level</th>
    <th>Subject</th>
    <th>Name</th>
    <th>Location</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%=h course.level.code %></td>
    <td><%=h course.subject.name %></td>
    <td><%=h course.name %></td>
    <td><%=h course.location.name unless course.location.blank? %></td>
    <td><%= link_to 'Show', admin_course_path(course) %></td>
    <td><%= link_to 'Edit', edit_admin_course_path(course) %></td>
    <td><%= link_to 'Destroy', admin_course_path(course), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New course', new_admin_course_path %>